@import "gallery.css";

ul {
    min-width: fit-content;
    width: 50%;
    max-width: 100vw;
}

figure {
    display: flex;
    align-content: center;
}

figcaption {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}